<div class="inner-contaier">
  <div class="top-section">
    <h1><center>Replace with <span>any nice</span></center></h1>
    <p>A fast and easy way to capture your claim photos and documents!</p>
    <div class="border-box">
      <div class="border-box-half"></div>
    </div>
  </div>
  <div class="image-details">
    <p>Claim No: 2</p>
    <p>Arslan Ahmad</p>
    <h1>Photo upload/Capture</h1>
  </div>
  <div class="image-box-wrapper">
    <div class="col-md-12">

      <!-- layouts show -->
      <div class="row">
        <center><h1></h1></center>
          <div class="col-md-4 col-sm-6" ng-repeat="photo in photos">
            <div class="inner-6">
               <div class="content">
                <h4><span>*</span></h4>
              </div>  
              <div class="img-box">
                <img ng-src="{{photo ? photo : '/assets/upload.png'}}" class="img-responsive" alt="">
              </div>
            </div>  
          </div> 
      </div>
      <!-- layouts show end-->

      <!-- Upload form -->
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-4 col-md-6">
          <div class="fileUpload">
            <span class="custom-span">+</span>
            <p class="custom-para">Add Images</p>
            <input type="file" ng-file-select="onFileSelect($files)" class="upload" >
          </div>
        </div>
      </div>
      <!-- Upload form end -->
    </div>
  </div>
  <div class="terms-box">
    <label class="check">I agree the <a href="#">Terms & Conditions</a>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label>
    <button class="btn btn-submit">Send</button>
  </div>
</div>